@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';
}

.en-tete{
  display: flex;
  flex-direction: row;  
}
.en-tete img{
position:relative;
width: 60px;
height: 60Px;
margin-top: 15px;
margin-left: 40px;
padding-bottom: 12px;
}
.navigation a{
    margin-left: 22px;
    color: black;
    text-decoration: none;
}
.navigation a:hover{
    color: brown;
}
.navigation{
    display: flex;
    margin-left: 55%;
    margin-top: 20px;
}
.apres-header{
    background-image: url(./../images/arriere\ plan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.generique{
    color: white;
}
.texte{
    margin-left: 25%;
    padding-top: 12%;
    padding-bottom: 12%;
    font-size:20px ;
}
.Contact-us{
    padding-top: 40px;
}
.Contact-us a:first-child{
    color: white;
    text-decoration: none;
    border: 1px solid rgb(233, 42, 42);
    padding: 1%;
    border-radius: 30%;
    background-color: rgb(233, 42, 42);
}
.Contact-us a:last-child{
    color: black;
    text-decoration: none;
    border: 1px solid white;
    padding:1% ;
    border-radius: 30%;
    background-color: white;
}
.rouge{
    color: brown;
}
.libelle{
    position: absolute;
    padding-top: 8%;
    margin-left: 12%;
}
.libelle p {
    padding-top: 20px;
    padding-bottom: 30px;
}
.read-more{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: white;
    border-radius: 30%;
    padding: 2%;
}
.second_cadre{
    background-color: white;
}
.vision{
    padding-bottom: 20px;
}
.vision img{
    position: relative;
    width: 40px;
    height: 40px;
    padding-top: 13px;
}
.vision a{
    text-decoration: none;
    color: black;
   font-weight: bold;
}
.option{
    margin-left: 62%;
    padding-top:7% ;
}
.third-cadre{
    background-color: rgb(196, 189, 189);
}
.message{
    padding-top: 50px;
    text-align: center;
    justify-content: center;
}
.message h2{
    padding-bottom: 20px;
}
.images img{
    width: 30px;
    height: 30px;
}